<div class="modal-dialog">

    <div class="modal-content">

        <h3 class="card-header p-3">{{ form.value.id ? 'Edit' : 'Add'}} Student</h3>

        <form [formGroup]="form" class="modal-body">

            <div class="form-group">
                <label>Name</label>
                <input formControlName="name" type="text" class="form-control" placeholder="Enter Name">
            </div>

            <div class="form-group">
                <label>Phone</label>
                <input formControlName="phone" type="tel" class="form-control" placeholder="Enter Name">
            </div>

            <div class="form-group">
                <label>Email</label>
                <input formControlName="email" type="email" class="form-control" placeholder="Enter Name">
            </div>
        </form>

        <div class="card-footer d-flex justify-content-end">
            <button data-dismiss="modal" class="btn btn-info mr-2">
                <i class="fa fa-close"></i> Close
            </button>
            <button [disabled]="form.invalid" (click)="save()" class="btn btn-primary">
                <i class="fa fa-save"></i> Save
            </button>
        </div>
    </div>
</div>