<h5>States</h5>

<form [formGroup]="form" class="mt-4 form-inline">
    <select formControlName="region" class="form-control mr-2">
        <option value="">Select Region</option>
        <option *ngFor="let item of regions$ | async" [value]="item">{{item}}</option>
    </select>

    <input formControlName="name" type="text" class="form-control mr-2" placeholder="Search Name ...">

    <a (click)="search()" class="btn btn-outline-info">
        <i class="fa fa-search"></i> Search
    </a>
</form>

<table class="table table-striped mt-4">
    <thead>
        <tr>
            <th>ID</th>
            <th>Region</th>
            <th>Name</th>
            <th>Burmese Name</th>
            <th>Capital</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of list$ | async" @showAndHide>
            <td>{{item.id}}</td>
            <td>{{item.region}}</td>
            <td>{{item.name}}</td>
            <td>{{item.mmName}}</td>
            <td>{{item.capital}}</td>
        </tr>
    </tbody>
</table>