<nav class="navbar navbar-expand-lg bg-danger navbar-dark">
    <div class="container">
        <span class="navbar-brand">NgRx Effects Demo</span>

        <ul class="navbar-nav">
            <li class="nav-item">
                <a [routerLink]="['/state']" routerLinkActive="active" class="nav-link">States</a>
            </li>
            <li class="nav-item">
                <a [routerLink]="['/district']" routerLinkActive="active" class="nav-link">Districts</a>
            </li>
            <li class="nav-item">
                <a [routerLink]="['/township']" routerLinkActive="active" class="nav-link">Townships</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container pt-4">
    <router-outlet></router-outlet>
</div>