<h3>Fade In</h3>

<div class="mt-4 mb-4">
    <button [class.btn-primary]="slide == 1" (click)="slide = 1" class="btn mr-2">Slide One</button>
    <button [class.btn-success]="slide == 2" (click)="slide = 2" class="btn mr-2">Slide Two</button>
    <button [class.btn-danger]="slide == 3" (click)="slide = 3" class="btn mr-2">Slide Three</button>
</div>

<div [ngSwitch]="slide" [@fadeIn]="slide" id="wrapper">
    <div *ngSwitchCase="1" class="bg-primary">
        <h1>This is Slide 1</h1>
    </div>
    <div *ngSwitchCase="2" class="bg-success">
        <h1>This is Slide 2</h1>
    </div>
    <div *ngSwitchCase="3" class="bg-danger">
        <h1>This is Slide 3</h1>
    </div>
</div>