<h3>Entity CRUD Demo : {{form.value.id ? 'Edit' : 'Add'}} Member</h3>

<form [formGroup]="form" class="mt-4 mb-4 w-50">
    <div class="form-group">
        <label>Role</label>
        <select formControlName="role" class="form-control">
            <option *ngFor="let item of roles" [value]="item">{{item || 'Select Role'}}</option>
        </select>
    </div>

    <div class="form-group">
        <label>Name</label>
        <input type="text" formControlName="name" class="form-control">
    </div>

    <div class="form-group">
        <label>Phone</label>
        <input type="tel" formControlName="phone" class="form-control">
    </div>

    <div class="form-group">
        <label>Email</label>
        <input type="email" formControlName="email" class="form-control">
    </div>

    <div class="form-group">
        <a [routerLink]="form.value.id ? ['/members/details', form.value.id]  : ['/members']"
            class="btn btn-primary mr-2">
            <i class="fa fa-backward"></i> Back
        </a>

        <button [disabled]="form.invalid" (click)="save()" class="btn btn-danger">
            <i class="fa fa-save"></i> Save
        </button>
    </div>

</form>